@import '../../app/mixins.scss';
:root {
  --p-for-item: 0.6em 0.2em;
}
.app-budget {
  display: grid;
  padding: 0 0;
  font-size: 1.6rem;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    'header header header header'
    'expenses expenses expenses expenses'
    'statistic statistic statistic statistic'
    'footer footer footer footer';

  @media (min-width: 376px) {
    padding: calc(min(3vh, 1rem)) calc(min(3vw, 3rem));
  }
}
.expenses {
  background-color: bisque;
  grid-area: expenses;
  height: 100%;
}
.expense {
  display: flex;
  justify-content: space-between;
  // @include borderWithoutRadius;
  padding: var(--p-for-item);
  &__label--totalDay,
  &__sum--totalDay {
    font-weight: 700;
  }
  &__label--totalWeek,
  &__sum--totalWeek {
    font-weight: 700;
  }
}

.showStatistic {
  min-height: 4rem;
  grid-area: statistic;
  border: none;
  // @include borderWithoutRadius;
}
.header {
  background-color: aquamarine;
  display: flex;
  grid-area: header;

  > * {
    padding: var(--p-for-item);
    max-width: (10%, 300px);
  }
  .user {
    margin-left: auto;
  }
}
.footer {
  background-color: aquamarine;
  grid-area: footer;
  margin-top: auto;
}

.calendar {
  @include borderWithoutRadius;
}
