@import '../../app/mixins.scss';
:root {
  --p-for-item: 0.6em 0.4em;
  --br-default: 6px;
  --link-color: rgba(134, 134, 134, 0.712);
  --margin-from-header: 4rem;
  --padding-app-left-right: calc(min(3vw, 3rem));
  --default-left-transititon: all 0.6s ease-in-out;
  --min-footer-height: 5rem;
}

.body--fixed {
  overflow-y: hidden;
}
.app-budget {
  border-radius: var(--br-default);
  position: relative;
  display: grid;
  padding: 0 0;
  font-size: 1.6rem;
  min-height: 100vh;
  // overflow: hidden;
  grid-template-rows: var(--margin-from-header) 1fr auto var(--min-footer-height);
  grid-template-areas:
    '... ... ... ...'
    'expenses-component expenses-component expenses-component expenses-component'
    'statistic statistic statistic statistic'
    'footer footer footer footer';

  @media screen and (min-width: 376px) {
    padding: 0 var(--padding-app-left-right);

    .header {
      padding: 0 var(--padding-app-left-right);
    }
  }
  @media screen and (min-width: 576px) {
    grid-template-areas:
      '... ... ... ...'
      'expenses-component expenses-component expenses-component ....'
      'statistic statistic statistic ....'
      'footer footer footer footer';

    grid-template-columns: repeat(3, auto) 25rem;
    .calendar {
      position: fixed;
      top: var(--margin-from-header);
      right: var(--padding-app-left-right);
      width: 25rem;
      left: unset;
      padding: 0;
      margin: 0;
      // max-height: 36rem;
      height: 100%;
      z-index: 100;

      .closeButton {
        display: none;
      }
    }
    .expense-settings,
    .expense-add-form {
      position: fixed;
      top: var(--margin-from-header);
      right: calc(var(--padding-app-left-right) - 60%);
      width: 25rem;
      left: unset;
      padding: 0;
      margin: 0;
      // max-height: 36rem;
      height: 100%;
      visibility: hidden;
      z-index: 200;
      // background-color: unset;
      .closeButton {
        display: none;
      }
    }

    .expense-settings--show,
    .expense-add-form--show {
      right: var(--padding-app-left-right);
      visibility: visible;
    }
  }
  @media screen and (min-width: 776px) {
    grid-template-areas:
      'header header header header'
      '.... expenses-component expenses-component ....'
      '.... statistic statistic ....'
      'footer footer footer footer';
    grid-template-columns: 20rem repeat(2, auto) 25rem;
    .nav {
      position: fixed;
      text-align: left;
      top: var(--margin-from-header);
      left: var(--padding-app-left-right);
      transition: unset;
      width: 20rem;
      padding: 0;
      height: 100%;
      // height: calc(-webkit-calc(100vh - var(--min-footer-height) - var(--margin-from-header)));
      // height: calc(-moz-calc(100vh - var(--min-footer-height) - var(--margin-from-header)));
      // height: calc(calc(100vh - var(--min-footer-height) - var(--margin-from-header)));

      margin: 0;

      .closeButton {
        display: none;
      }
    }
    .showNavigation {
      display: none;
    }
  }
  @media screen and (min-width: 1200px) {
    .header {
      padding: 0 0;
    }
    .expense-add-form,
    .expense-settings {
      right: calc(-webkit-calc(100% - 1200px) / 2 + var(--padding-app-left-right) -20%);
      right: calc(-moz-calc(100% - 1200px) / 2 + var(--padding-app-left-right) -20%);
      right: calc(calc(100% - 1200px) / 2 + var(--padding-app-left-right) -20%);
    }
    .calendar,
    .expense-settings--show,
    .expense-add-form--show {
      right: calc(-webkit-calc(100% - 1200px) / 2 + var(--padding-app-left-right));
      right: calc(-moz-calc(100% - 1200px) / 2 + var(--padding-app-left-right));
      right: calc(calc(100% - 1200px) / 2 + var(--padding-app-left-right));
    }
    .nav {
      left: calc(-webkit-calc(100% - 1200px) / 2 + var(--padding-app-left-right));
      left: calc(-moz-calc(100% - 1200px) / 2 + var(--padding-app-left-right));
      left: calc(calc(100% - 1200px) / 2 + var(--padding-app-left-right));
    }
  }
}
.header {
  background-color: rgb(228, 228, 228);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 4rem;
  width: 100%;
  max-width: calc(1200px - (var(--padding-app-left-right) * 2));
  display: flex;
  padding: 0 0;

  > * {
    padding: var(--p-for-item) 0;
    max-width: (10%, 300px);
    cursor: pointer;

    &:hover {
      background-color: beige;
    }
  }

  .searchTrigger {
    margin-left: auto;
  }
}
.nav {
  @include hidden-modal--left;
  z-index: 200;

  &__list {
    padding-left: 0.6em;
    display: flex;
    flex-direction: column;

    a {
      color: var(--link-color);
    }
  }
}
.nav--show {
  left: 0;
}
.expense-settings {
  z-index: 200;
  @include hidden-modal--left;
}
.expense-add-form {
  z-index: 200;
  @include hidden-modal--left;
}
.expense-add-form--show {
  left: 0;
}

.expense-settings--show {
  left: 0;
}
.search-and-sort {
  position: sticky;
  top: var(--margin-from-header);
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.6s cubic-bezier(0.075, 0.82, 0.165, 0.96);
  overflow: hidden;
  z-index: 50;

  .search,
  .sort {
    border: none;
    min-height: 3rem;
    padding: 0 var(--p-for-item);
    @include borderWithoutRadius;
  }
  .search {
    width: 70%;
    border-right: none;
  }
  .sort {
    width: 30%;
    option {
      background-color: aquamarine;
    }
  }
}

.search-and-sort--hidden {
  height: 3rem;
  // opacity: 1;
}
.expenses-component {
  // overflow: hidden;
  background-color: bisque;
  grid-area: expenses-component;
  display: flex;
  flex-direction: column;
}
.expense {
  display: flex;
  justify-content: space-between;
  padding: var(--p-for-item);

  &__label--totalDay,
  &__sum--totalDay {
    font-weight: 700;
  }
  &__label--totalWeek,
  &__sum--totalWeek {
    font-weight: 700;
  }

  > * {
    // transition: background-color 1s ease-in-out;
    cursor: pointer;
    // padding: 0.4em 0.8em;
  }
  > *:hover {
    background-color: beige;
  }
}
.showStatistic {
  min-height: 4rem;
  grid-area: statistic;
  border: none;
  // @include borderWithoutRadius;
}

.footer {
  background-color: rgb(134, 134, 134);
  grid-area: footer;
  margin-top: auto;
  height: 100%;
  // margin-right: var(--padding-app-left-right);
  // width: calc(100% + var(--padding-app-left-right) * 2);
  max-width: 1200px;
  z-index: 400;
}
.calendar {
  @include hidden-modal--left;
}

.calendar--show {
  left: 0;
}

.closeButton {
  position: absolute;
  top: calc(2vh);
  right: calc(3vw);
}
