@import './src/style/mixins';
.flexPadding {
  display: flex;
  margin: auto;
  width: 90%;
  height: 50%;
  padding: 0 4vw;
  @include borderWithRadius;

  div {
    display: flex;
    justify-content: center;
    color: black;
    //font-size: 5vw;
    width: 100%;
    //height: max-content;
    @include borderWithRadius;
    background-color: #f1f1f1;
  }
}
