.loading {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
  max-width: 60vw;
  min-height: 10rem;
  border: 1px solid rgba(1, 1, 1, 0.3);
  border-radius: 4px;
  text-align: center;
}
