.asButton {
  font-size: 1.4rem;
  min-width: max-content;
  padding: 0.4em 1.5em;
  border-radius: 6px;
  display: grid;
  place-items: center;
  border: 2.2px solid transparent; // бордер у всех один, чтобы разные виды сылок по высоте были одинаковые
  outline: none;
  text-align: center;
  box-sizing: border-box;
  font-family: sans-serif;
}

.link-primary {
  border-color: transparent;
  color: rgba(var(--clr-base-white), 0.96);
}
.link-primary:link {
  background-color: var(--clr-link-primary-bg-link);
}
.link-primary:hover,
.link-primary:focus-visible {
  background-color: var(--clr-link-primary-bg-hover);
}
.link-primary:active {
  background-color: var(--clr-link-primary-bg-active);
}
.link-primary:visited {
  background-color: var(--clr-link-primary-bg-visited) !important;
}
.link-primary-disabled {
  background-color: var(--clr-link-primary-bg-disabled) !important;
  color: rgba(var(--clr-base-white), 0.6) !important;
  cursor: context-menu;
}

.link-secondary {
  color: rgba(var(--clr-base-black), 0.96);
}
.link-secondary:link {
  border-color: var(--clr-link-secondary-border-link);
}
.link-secondary:hover {
  border-color: var(--clr-link-secondary-border-hover);
}
.link-secondary:focus-visible {
  border-color: var(--clr-link-secondary-border-hover);
}
.link-secondary:active {
  border-color: var(--clr-link-secondary-border-active);
}
.link-secondary:visited {
  border-color: var(--clr-link-secondary-border-visited);
}
.link-secondary-disabled {
  border-color: var(--clr-link-secondary-border-disabled) !important;
  color: var(--clr-link-secondary-border-disabled) !important;
  cursor: context-menu;
}

.link-transparent {
  border-color: transparent;
  color: var(--clr-link-transparent-text-link);
}
.link-transparent:link {
  background: transparent;
}
.link-transparent:hover {
  background: rgba(var(--clr-base-black), 0.1);
}
.link-transparent:focus-visible {
  background: var(--clr-link-transparent-border-hover);
}
.link-transparent:active {
  background: var(--clr-link-transparent-border-active);
}
.link-transparent:visited {
  background: var(--clr-link-transparent-border-visited);
}
.link-transparent-disabled {
  background-color: transparent !important;
  color: var(--clr-link-transparent-text-disabled);
  cursor: context-menu;
}

.linkWithIcon {
  display: flex;
  align-items: center;
}

.linkWithIcon__icon {
  margin-bottom: -0.2rem;
  margin-right: 1rem;
}
