// -------------- Items -------------- //
@mixin button {
  padding: 0 0.2em;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 4px;
}

@mixin card {
  padding: 0 0.2em;
  border: 1px solid grey;
  border-radius: 4px;
  margin-left: auto;
}

// -------------- Most usefull css properties -------------- //

@mixin borderWithRadius {
  border: 1px solid rgba(128, 128, 128, 0.527);
  border-radius: 4px;
}
@mixin borderWithoutRadius {
  border: 0.5px solid rgba(128, 128, 128, 0.527);
}
// -------------- Centered item i -------------- //
@mixin item_in_the_center--Flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin item_in_the_center--Grid {
  display: grid;
  place-items: center;
}

// -------------- Next -------------- //
