.search-page {
  display: grid;
  place-items: center;

  input {
    width: 60%;
    text-align: center;
  }

}

.history-list {
  width: 100%;
}
.history-item {
  border: 1px gray solid;
  border-radius: 6px;
  min-width: 100%;
  display: flex;
  padding: 1rem;
}
