:root {
  --clr-hsl-zero: 0;
  --hsl-l-light: 80;
  --hsl-l-darker: 40;
  --hsl-l-dark: 20;

  --hsl-h-red: 0;
  --hsl-h-green: 120;
  --hsl-h-blue: 240;

  --clr-hsl-accent-success: 131, 84%, 62%;
  --clr-hsl-accent-warning: #f55d05;
  --clr-hsl-accent-error: #ff293e;

}
