.button, .button-outline {
  --clr-btn-bg:  hsl(147, 80%, 50%, 100);
  --clr-btn-bg-focus:  hsl(147, 45%, 47%, 100);
  --clr-btn-bg-disabled:  hsl(147, 40%, 60%, 100);

  --clr-btn-text: #010101;
  --clr-btn-text-disabled: rgba(90, 90, 90, 0.75);
  --clr-btn-text-outline: #f1f1f1;
  --clr-btn-text-outline-disabled: rgba(241, 241, 241, 0.62);
}

/* ---------------- Button start ---------------- */
.button {
  font-size: inherit;
  border: none;
  padding: .4em .8em;
  border-radius: 4px;
  cursor: pointer;
  background-color:var(--clr-btn-bg);
  color: var(--clr-btn-text);
}
.button:hover {
  background-color:var(--clr-btn-bg-focus);
}
.button:focus {
  background-color:var(--clr-btn-bg-focus);
  color: var(--clr-btn-text-primary);
  border: 1px solid var(--clr-btn-border);
}
.button:disabled {
  background-color: var(--clr-btn-bg-disabled);
  color: var(--clr-btn-text-disabled);
  cursor: unset;
}

//  button Outline variant
.button-outline {
  font-size: inherit;
  padding: .4em .8em;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  border: 1px solid var(--clr-btn-bg);
}
.button-outline:hover:enabled {
  background-color:var(--clr-btn-bg);
  color: var(--clr-btn-text-outline);
}
.button-outline:focus {
  background-color:var(--clr-btn-bg);
  color: var(--clr-btn-text-outline);
  border: none;
  outline: none;
}
.button-outline:disabled {
  border: 1px solid;
  //color: var(--clr-btn-text-outline-disabled);
  cursor: unset;
}

/* ---------------- Button end ---------------- */

/* ---------------- Link start todo ---------------- */
.link {
}
.link:hover {
}
.link:focus {
}
.link:visited {
}
.link:disabled {
}
//  link variants
.link-filled {
}
.link-outline {
}

/* ---------------- Link end todo ---------------- */

/* ----------------Input start ---------------- */
.input {
}
.input:hover {
}
.input:disabled {
}
//  input variants
.input-empty {
}
.input-filled {
}
.input-outline {
}

/* ----------------Input end  ---------------- */

/* ----------------Need some words start  ---------------- */
//outline-primary
//outline-secondary
//outline-success
//outline-warning
//outline-danger
//outline-info
//outline-light
//outline-dark
//secondary
//tertiary

//--clr-btn-bg-primary: green;
//--clr-btn-bg-secondary: green;
//--clr-btn-bg-tertiary: green;

/* ----------------Need some words end  ---------------- */
