@import "colors-hsl-base";

/* -------------------- Colors __ start --------------------  */
:root {
  --clr-base-black: 36, 40, 43;
  --clr-base-white: 255, 255, 255;
  --clr-base-green: 26, 158, 50;
  --clr-base-blue: 50, 150, 255;
  --clr-base-grey: 77, 77, 77;

  // Text and icons
  --clr-text-primary: rgba(var(--clr-base-black), 0.96);
  --clr-text-secondary: rgba(var(--clr-base-black), 0.56);
  --clr-text-tertiary: rgba(var(--clr-base-black), 0.28);
  --clr-text-typeset-text: rgba(var(--clr-base-black), 0.8);


  --clr-link-secondary: rgba(var(--clr-base-black), 0.56);
  --clr-link-tertiary: rgba(var(--clr-base-black), 0.28);
  --clr-link-typeset-text: rgba(var(--clr-base-black), 0.8);

  --clr-text-accent: #108e26;

  // accent
  --clr-accent-success: #1a9e32;
  --clr-accent-success-light: rgba(25, 158, 50, 0);

  --clr-accent-warning: #f55d05;
  --clr-accent-error: #ff293e;

  // card
  --clr-bg-card: #ffffff;
}

/* -------------------- Colors __ end  --------------------  */
