.registrationForm {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
  max-width: 60vw;
  min-height: 10rem;
  border: 1px solid rgba(1, 1, 1, 0.3);
  border-radius: 4px;

  .required::before {
    padding: 0;
    content: ' * ';
    color: red;
    display: inline;
  }

  label {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 auto;
    max-width: 80vw;
    height: auto;
    border: 1px solid rgba(1, 1, 1, 0.3);
    border-radius: 4px;

    span {
      height: 1rem;
    }
    button {
      max-width: 80vw;
    }
  }
}

.item {
  position: relative;
  //padding-inline: 1em;
  input {
    padding: 1rem;
    min-height: 4rem;
    //margin-top: -1rem;
  }
  input:focus {
    border: 1px solid tomato;
    font-size: 3rem;
  }

  label {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    //font-size: 1em;
    border: none;
    transition: all 0.4s;
  }
}
input:focus + label {
  transform: translateY(-150%);
  transition: all 0.4s;
}

input + .hasValue {
  transform: translateY(-150%);
  transition: all 0.4s;
}
input:active + label {
  transform: translateY(-150%);
  transition: all 0.4s;
}
.requiredMessage {
  color: tomato;
  text-align: left;
  transition: all 1s ease-in;
}
