.root {
  //width: 60%;
  //margin: 1rem auto;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  height: 6rem;

  .child-1 {
    margin: 1rem 1rem;
    padding: 1rem;
    border: 1px solid yellow;
    border-radius: 4px;
    .child-2 {
      margin: 1rem 1rem;
      padding: 1rem;
      border: 1px solid green;
      border-radius: 4px;
      display: grid;
    }
  }
}
