.select {
  position: relative;
  font-size: 1.2rem;
  font-family: 'sans-serif', sans-serif;
  display: inline-block;
  color: rgba(var(--clr-base-black), 1);
}

.select__buttonWrapper {
  padding: 0.4em 1em;
  border: 1px solid rgba(var(--clr-base-white), 1);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(var(--clr-base-white), 1);
}
.select__buttonWrapper--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select__button {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.select__button:focus-visible {
  outline: none;
}

.select__options {
  position: absolute;
  top: 100%;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  color: inherit;
  background-color: rgba(var(--clr-base-blue), 0.9);

}

.select__options__item {
  font-family: inherit;
  cursor: pointer;
  background-color: white;
  padding: 0.4em 1em;
  border: 1px solid var(--clr-base-blue);
}
.select__options__item:hover {
  background-color: rgba(var(--clr-base-blue), 1);
}
.select__options__item:focus-visible {
  background-color: rgba(var(--clr-base-blue), 1);
  outline: none;
}
.select__options__item--disabled {
  font-size: 1.2rem;
  color: rgba(var(--clr-base-black), 0.6);
  cursor: context-menu;
  pointer-events: none;
}

.select__arrow {
  transition: all 0.4s;
  color: rgba(var(--clr-base-black), 0.4);
}
.select__arrow--open {
  transform: rotateX(180deg);
  transition: all 0.4s;
}
