.test-typescript {
    background-color: aquamarine;
    padding: 1em 2em;
    display: grid;
    place-items: center;
}

.box {
    border: 1px black solid;
    width: 10rem;
    height: 10rem;
    color: saddlebrown;
}
