@import '../../css/mixins';
.todo {
  width: 100%;
  padding: 8px 4px;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  align-items: baseline;
  border: 1px solid black;
  border-radius: 4px;
  transition: opacity 0.1s ease-out;

  &__label {
    font-size: 1rem;
    padding-right: 4px;
  }
  &__status {
    padding-right: 4px;
  }
  &__deleteButton {
    @include button;
  }
}
.todos {
  margin: 0 auto;
  max-width: 90%;
  min-width: 40%;
  position: relative;
  padding: 5vw;
  border: 2px solid green;
  border-radius: 6px;
  background-color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s ease;
  overflow: hidden;
}
.dragging {
  opacity: 0.5;
}
.before {
  margin-top: 4rem;
  transition: all 0.4s ease-in;
}
.after {
  transition: all 0.4s ease-in;
  margin-bottom: 4rem;
}

.todo {
}
