@import '../../css/mixins';
.todo {
  width: 100%;
  padding: 8px 4px;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  align-items: baseline;
  border: 1px solid black;
  border-radius: 4px;

  &__label {
    font-size: 1rem;
    padding-right: 4px;
  }
  &__status {
    padding-right: 4px;
  }
  &__deleteButton {
    @include button;
  }
}
.todos {
  position: relative;
  padding: 1.6rem;
  border: 2px solid green;
  border-radius: 6px;
  background-color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
