@import '../../../../css/mixins';
.grid-container {
  display: grid;
  grid-template-areas:
    'a a nav'
    'a a nav'
    'a a nav';
  width: 100%;
  grid-gap: 1 em;
  padding: 1em;
  background-color: rgba(134, 230, 198, 0.774);
  @include borderWithRadius;

  > * {
    @include borderWithRadius;
  }

  .grid-item {
    // margin-bottom: -1px;
    font-size: 1.6rem;
    padding: 1em;
    // @include borderWithRadius;
  }
}
